html,
body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}

.kantiner {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
}

/*navbar*/


/* navbar-top */
.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #443297;
}
.navbar_frame .kantiner {
  flex-direction: column;
  padding: 20px 0px 14px;
}
.navbar_frame .navbar-top {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.navbar_frame .navbar-top > a img {
  height: 36px;
  width: 117px;
  margin-right: 76px;
}
.navbar_frame .navbar-top .nav__search-frame {
  width: 650px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  border-radius: 6px;
}
.navbar_frame .navbar-top .search-box {
  padding: 10px 17px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar_frame .search-box .categoria-list {
  width: 166px;
  height: 30px;
  border-right: 1px solid #d6d6d6;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar_frame .categoria-list select {
  width: 140px;
  height: 30px;
  border: none;
  outline: none;
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}
.navbar_frame .search-box input {
  width: 387px;
  height: 22px;
  margin-left: 12px;
  border: none;
  outline: none;
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #626974;
}

.navbar_frame .search-icon-box {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5c34b;
  border-radius: 0px 6px 6px 0px;
}
.navbar_frame .search-icon-box img {
  width: 20px;
  height: 20px;
}

.navbar_frame .navbar-top .nav__top-menyu {
  margin-left: 59px;
  width: 416px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar_frame .nav__top-menyu .top-menu-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.navbar_frame .top-menu-box .box-icon-box {
  position: relative;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.navbar_frame .box-icon-box img {
  width: 22px;
  height: 22px;
}
.navbar_frame .top-menu-box .box-info-box {
  display: flex;
  flex-direction: column;
}

.navbar_frame .box-info-box span {
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #ffffff;
}

.navbar_frame .box-info-box strong {
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
.navbar_frame .basket_count {
  width: 15px;
  height: 15px;
  background-color: #f5c34b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-family: "jost";
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 10px;
  color: #0b1e40;
  position: absolute;
  top: -2px;
  right: -3px;
}
/* navbar-top */
/* navbar-bottom */
.navbar_frame .navbar-bott {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #5746a1;
}
.navbar_frame .navbar_bott_menu_box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.navbar_frame .browse_box {
  width: 185px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid #5746a1;
}
.navbar_frame .browse_box img {
  margin-right: 10px;
  width: 20px;
  height: 18px;
}
.navbar_frame .browse_box span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
.navbar_frame .navbar_route_menu {
  margin-left: 12px;
  width: 690px;
  display: flex;
  flex-direction: row;
}
.navbar_frame .router_menu {
  margin-right: 20px;
  width: auto;
  height: 41px;
  display: flex;
  text-transform: capitalize;
}
.navbar_frame .router_menu a {
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
.navbar_frame .router_menu a.active {
  color: #f5c34b;
}
.navbar_frame .sorting_menu {
  display: flex;
  flex-direction: row;
}
.navbar_frame .sorting_menu span {
  margin-left: 20px;
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
/*navbar/*
