.home_page {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.white_svg {
  filter: brightness(0) invert(1);
}
.kantiner .category_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.kantiner .category_top div {
  display: flex;
  flex-direction: row;
}
.kantiner .category_top span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  text-transform: capitalize;

  color: #041e42;
}
.kantiner .category_top a {
  margin-left: 30px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-transform: capitalize;

  color: #041e42;
}
.kantiner .category_top a:hover {
  border-bottom: 2px solid #041e42;
}

/*pagionation_box ortadagi ong chap */
.kantiner .pagionation_box {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.kantiner .pagionation_box .pagination_main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.pagionation_main img {
  cursor: pointer;
}

.kantiner .pagination_main .pagionation_dot {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
}
.kantiner .pagionation_dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.kantiner .pagionation_dot .dot.active {
  border: 2px solid #112137;
}
.kantiner .pagionation_dot .dot div {
  width: 4px;
  height: 4px;
  border-radius: 50px;
  background: #112137;
}

/*pagionation_box ortadagi ong chap */
.kantiner .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;

  background-color: #041e42;
}
.kantiner .next_prev_box {
  width: 25px;
}
.kantiner .next_prev_box img {
  position: absolute;
  top: 50%;
  cursor: pointer;
}
/*product_box*/
.kantiner .product_box {
  width: 306px;
  height: 100;

  display: flex;
  flex-direction: column;
  /* cursor: pointer; */
}

.kantiner .product_box .product_img_box {
  width: 100%;
  height: 280px;
}
.kantiner .product_img_box .hover_box {
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.kantiner .hover_box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;

  background: #0053f6;
  box-shadow: 0px 5px 20px rgba(0, 83, 246, 0.1);
  border-radius: 6px;

  font-family: Jost;
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;

  color: #ffffff;
}

.kantiner .product_img_box:hover .hover_box {
  display: flex;
}

.kantiner .product_content_box {
  width: 100%;
  padding: 5px 22px;
  height: auto;
  box-sizing: border-box;
}

.kantiner .product_content_box .product_title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;

  color: #626974;
}

.kantiner .product_content_box .product_desc {
  margin-top: 7px;
  height: 56px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  overflow: hidden;

  color: #041e04;
}

.kantiner .content_box .review_box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.kantiner .review_box img {
  margin-right: 5px;
}

.kantiner .review_box span {
  margin-left: 10px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #626974;
}

.kantiner .product_content_box .pirace_box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.kantiner .pirace_box strong {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;

  color: #041e42;
}

.kantiner .pirace_box span {
  margin-left: 10px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-decoration: line-through;

  color: #041e42;
}

/*header_frame*/

.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.header_frame .kantiner {
  flex-direction: row;
}

.header_frame .kantiner .header_left {
  position: relative;
  padding: 15px;
  width: 875px;
  height: 508px;
  background-color: #0053f6;
  background-image: url("../image/icons/header_bg.svg");
  border-radius: 5px;
}

.header_frame .header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.header_frame .header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f5c34b;
  border-radius: 6px;

  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #041e42;
}

.header_frame .header_content span {
  margin-top: 10px;
  width: 428px;

  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 87px;

  color: #ffffff;
}

.header_frame .header_content p {
  margin-top: 10px;
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16p;
  line-height: 28px;

  color: #ffffff;
}

.header_frame .header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
  border-radius: 6px;

  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

.header_frame .header_content img {
  position: absolute;
  right: 10px;
}

.header_frame .kantiner .header_right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 35px;
}

.header_frame .header_right .header_box {
  width: 422px;
  height: 240px;

  display: flex;
  flex-direction: row;

  background: #f2f2f2;
  border-radius: 5px;
}

.header_frame .header_right .box_left {
  margin-left: 30px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_frame .box_left span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  color: #0053f6;
}

.header_frame .box_left p {
  margin: 10px 0;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;

  color: #041e42;
}

.header_frame .box_left a {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: #041e42;
}

.header_frame .box_right {
  width: 50%;
}

.header_frame .box_right img {
  width: 100%;
  height: 100%;
}

.header_frame .box_left .hover_border1 {
  margin-top: 30px;
  width: 200px;
  height: 2px;

  background-color: #041e42;
}

/*service*/
.home_page .service_frame {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.service_frame .kantiner {
  flex-direction: row;
}

.service_frame .kantiner .service_box {
  width: 25%;
  height: 86px;

  display: flex;
  flex-direction: row;

  border-bottom: 1px solid #eaeaea;
}

.service_frame .service_box img {
  width: 35px;
  height: 35px;
}
.service_frame .service_box .service_content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.service_frame .service_content span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  color: #041e42;
}

.service_frame .service_content p {
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;

  color: #626974;
}

/*service*/

/*ShOP CATEGORY*/

.shop_category_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  text-align: center;
}
.shop_category_frame .kantiner {
  flex-direction: column;
}

.shop_category_frame .kantiner .category_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.shop_category_frame .category_wrapper .category_box {
  width: 142px;
  height: auto;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.shop_category_frame .category_box .category_img_box {
  width: 100%;
  height: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid #eaeaea;
  border-radius: 150px;
}
.shop_category_frame .category_box .span {
  margin-top: 15px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;

  color: #041e42;
}
/*ShOP CATEGORY*/

/*SELLING PRODUCT*/
.selling_product_frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.selling_product_frame .kantiner {
  flex-direction: column;
}
.selling_product_frame .kantiner .product_wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.selling_product_frame .product_wrapper .product_boxes {
  position: relative;
  width: 1224px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

/*selling_product_frame*/

.home_page .adv_frame {
  margin-top: 90px;
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e5edff;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;

  color: #0053f6;
}

/*SPC PRODUCT*/
.home_page .spec_product_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.spec_product_frame .kantiner {
  flex-direction: column;
}
.spec_product_frame,
.kantiner {
  flex-direction: column;
}
.kantiner .spec_product_wrapper {
  position: relative;
  margin-top: 35px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}
.spec_product_wrapper .big_product_box {
  position: relative;
  padding: 30px;
  width: 664px;
  height: 368px;

  box-sizing: border-box;
  display: flex;
  flex-direction: row;

  background: #f3f5f6;
  border-radius: 6px;
}
.big_product_box .big_product_content {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.big_product_content span {
  font-family: "Jost";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;

  color: #041e42;
}
.big_product_content p {
  margin: 7px 0;
  font-family: "Jost";
  font-style: normal;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;

  color: #041e42;
}
.big_product_content a {
  font-family: "Jost";
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;

  color: #041e42;
}
.big_product_box img {
  position: absolute;
  width: 322px;
  height: 309px;
  right: 5%;
}
.spec_product_wrapper .small_product_wrapper {
  margin-left: 30px;
  width: 620px;
  height: 368px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.small_product_wrapper .small_product_box {
  position: relative;
  padding: 30px;
  width: 293px;
  height: 170px;

  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  background: #f3f3f3;
  border-radius: 6px;
}
.small_product_box:nth-child(odd) {
  margin-right: 30px;
}
.small_product_box .small_product_content {
  display: flex;
  flex-direction: column;
}
.small_product_content strong {
  font-family: "Jost";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;

  color: #041e42;
}
.small_product_content span {
  font-family: "Jost";
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;

  color: #041e42;
}
.small_product_box img {
  position: absolute;
  right: 30px;
  bottom: 15px;
}

/*tv_frame*/

.home_page .tv_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tv_frame .kantiner {
  flex-direction: column;
}
.kantiner .tv_wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tv_wrapper .tv_product_boxes {
  width: 1300px;
  height: 452px;

  display: flex;
  flex-direction: row;
}
.tv_product_boxes .tv_product_box {
  width: 260px;
  height: 452px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: #ffffff;
}

.tv_product_box .product_img {
  width: 100%;
  height: 280px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*event_frame*/
.home_page .event_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: 632px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-image: url("../image/icons/event_bg.png");
}
.event_frame .kantiner {
  flex-direction: row;
  justify-content: center;
}
.kantiner .event_content_box {
  width: 340px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.event_content_box .event_title {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  text-transform: capitalize;

  color: #ffffff;
}

.event_content_box .timer_wrapper {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}

.timer_wrapper .timer_box {
  width: 83px;
  height: auto;

  display: flex;
  flex-direction: column;
}
.timer_box strong {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;

  color: #ffffff;
}

.timer_box span {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  color: #ffffff;
}

.event_content_box a {
  width: 140px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  background: #ffffff;

  border: 1px solid#ffffff;
  border-radius: 6px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;

  color: #041e04;
}
.kantiner .event_product_wrapper {
  width: 930px;
  height: auto;

  display: flex;
  flex-direction: row;
}
.event_product_wrapper .even_product_boxes {
  position: relative;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.even_product_boxes .even_product_box {
  margin-right: 10px;
  width: 210px;
  height: 392px;

  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background: #ffffff;
}
.even_product_box .even_product_img {
  width: 100%;
  height: 220px;

  display: flex;
  align-items: center;
  justify-content: center;
}
