.home-page {
  display: flex;
  flex-direction: column;
}
.white_svg {
  filter: brightness(0) invert(1);
}

.kantiner .category-top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.kantiner .category-top div {
  display: flex;
  flex-direction: row;
}
.kantiner .category-top span {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  text-transform: capitalize;

  color: #041e42;
}
.kantiner .category-top a {
  margin-left: 30px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-transform: capitalize;

  color: #041e42;
}
.kantiner .category-top a:hover {
  border-bottom: 2px solid #041e42;
}
/* pagionation */
.kantiner .pagionation-box {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.kantiner .pagionation-box .pagionation-main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.pagionation-main img {
  cursor: pointer;
}
.kantiner .pagionation-main .pagionation-dot {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
}
.kantiner .pagionation-dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}
.kantiner .pagionation-dot .dot.active {
  border: 2px solid rgba(17, 33, 55, 1);
}
.kantiner .pagionation-dot .dot div {
  width: 4px;
  height: 4px;
  background: rgba(17, 33, 55, 1);
  border-radius: 50%;
}
/* pagionation */

.kantiner .hover-border {
  margin-top: 3px;
  width: 32px;
  height: 2px;
  background-color: #041e42;
}
/* next_prev-box */
.kantiner .next_prev-box {
  width: 25px;
}
.kantiner .next_prev-box img {
  position: absolute;
  top: 50%;
  cursor: pointer;
}
/* next_prev-box */

/* product card */
.kantiner .product-box {
  width: 306px;
  height: 100%;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.kantiner .product-box .product-img-box {
  width: 100%;
  height: 280px;
}
.kantiner .product-box .hover-box {
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.kantiner .hover-box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;

  border-radius: 6px;
  box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
  background: rgba(0, 83, 246, 1);

  font-family: var(--font);
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  color: #ffffff;
}

.kantiner .product-img-box:hover .hover-box {
  display: flex;
}
.kantiner .product-content-box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.kantiner .product-content-box .product_title {
  font-family: var(--font);
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;

  color: #626974;
}
.kantiner .product-content-box .product_desc {
  margin-top: 7px;
  height: 56px;
  font-family: var(--font);
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  overflow: hidden;
  text-transform: capitalize;

  color: #041e42;
}
.kantiner .product-content-box .review-box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.kantiner .review-box img {
  margin-right: 5px;
}
.kantiner .review-box span {
  margin-left: 10px;

  font-family: var(--font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  color: #626974;
}
.kantiner .product-content-box .price-box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.kantiner .price-box strong {
  font-family: var(--font);
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;

  color: #041e42;
}
.kantiner .price-box span {
  margin-left: 10px;
  font-family: var(--font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: line-through;

  color: #626974;
}
/* header-frame */
.header-frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.header-frame .kantiner {
  flex-direction: row;
}
.header-frame .kantiner .header-left {
  width: 875px;
  height: 508px;
  position: relative;
  background-color: #0053f6;
  background-image: url("../image/icons/header_bg.svg");
  padding: 15px;
  border-radius: 5px;
}
.header-frame .header-left .header-content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}
.header-frame .header-content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5c34b;
  border-radius: 6px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #041e42;
}
.header-frame .header-content span {
  width: 428px;
  margin-top: 10px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 87px;
  color: #ffffff;
}
.header-frame .header-content p {
  margin-top: 10px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
.header-frame .header-content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 6px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}
.header-frame .header-content img {
  position: absolute;
  right: 10px;
}
.header-frame .kantiner .header-right {
  position: relative;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-frame .header-right .header-box {
  width: 422px;
  height: 240px;
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.header-frame .header-right .box-left {
  margin-left: 37px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-frame .box-left span {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #0053f6;
}
.header-frame .box-left p {
  margin: 10px 0;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;
  color: #041e42;
}
.header-frame .box-left a {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}
.header-frame .box-left .hover-border {
  margin-top: 3px;
  width: 32px;
  height: 2px;
  background-color: #041e42;
}
.header-frame .box-left .hover-border2 {
  margin-top: 3px;
  width: 127.33px;
  height: 2px;
  background-color: #041e42;
}
.header-frame .header-box .box-right {
  width: 50%;
}
.header-frame .box-right img {
  width: 100%;
  height: 100%;
}
/* header-frame */
/* service-frame */
.home-page .service-frame {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.service-frame .kantiner {
  flex-direction: row;
}
.service-frame .kantiner .service-box {
  width: 25%;
  height: 86px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eaeaea;
}
.service-frame .service-box img {
  width: 35px;
  height: 35px;
}
.service-frame .service-box .service-content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}
.service-frame .service-content span {
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #041e42;
}
.service-frame .service-content p {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #626974;
}
/* service-frame */
/* shop_category_frame */
.shop_category_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.shop_category_frame .kantiner {
  flex-direction: column;
}

.shop_category_frame .kantiner .category-wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.shop_category_frame .category-wrapper .category-box {
  width: 142px;
  height: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.shop_category_frame .category-box .category-img-box {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eaeaea;
  border-radius: 150px;
}
.shop_category_frame .category-box .category-img-box:hover {
  outline: 1px solid #041e42;
}
.shop_category_frame .category-box span {
  margin-top: 15px;
  font-family: var(--font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #041e42;
}

/* shop_category_frame */
/* selling-product */
.selling-product-frame {
  position: relative;
  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.selling-product-frame .kantiner {
  flex-direction: column;
}
.selling-product-frame .kantiner .product-wrapper {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selling-product-frame .product-wrapper .product-boxes {
  position: relative;
  width: 1224px;
  height: 452px;

  display: flex;
  flex-direction: row;
}
.selling-product-frame .product-boxes .product-box {
  width: 306px;
  height: 100%;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.selling-product-frame .product-box .product-img-box {
  width: 100%;
  height: 280px;
}
.selling-product-frame .product-box .hover-box {
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.selling-product-frame .hover-box button {
  margin-bottom: 10px;
  width: 260px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;

  border-radius: 6px;
  box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
  background: rgba(0, 83, 246, 1);

  font-family: var(--font);
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  color: #ffffff;
}

.selling-product-frame .product-img-box:hover .hover-box {
  display: flex;
}
.selling-product-frame .product-box .product-content-box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.selling-product-frame .product-content-box .product_title {
  font-family: var(--font);
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;

  color: #626974;
}
.selling-product-frame .product-content-box .product_desc {
  margin-top: 7px;
  height: 56px;
  font-family: var(--font);
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  overflow: hidden;

  color: #041e42;
}
.selling-product-frame .product-content-box .review-box {
  margin-top: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.selling-product-frame .review-box img {
  margin-right: 5px;
}
.selling-product-frame .review-box span {
  margin-left: 10px;

  font-family: var(--font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  color: #626974;
}
.selling-product-frame .product-content-box .price-box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.selling-product-frame .price-box strong {
  font-family: var(--font);
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;

  color: #041e42;
}
.selling-product-frame .price-box span {
  margin-left: 10px;
  font-family: var(--font);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: line-through;

  color: #626974;
}

/* selling-product */
.home-page .adv-frame {
  margin-top: 90px;
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #e5edff;
  font-family: var(--font);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  color: #0053f6;
}

/* spec_product-frame */
.home-page .spec_product-frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.spec_product-frame .kantiner {
  flex-direction: column;
}
.spec_product-frame .kantiner .spec_product-wrapper {
  position: relative;
  margin-top: 35px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}
.spec_product-frame .spec_product-wrapper .big_product-box {
  position: relative;
  padding: 30px;
  width: 664px;
  height: 368px;

  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  background: #f3f5f6;
  border-radius: 6px;
}
.spec_product-frame .big_product-box .big_product-content {
  width: 160px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.spec_product-frame .big_product-content span {
  font-family: var(--font);
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;

  color: #041e42;
}
.spec_product-frame .big_product-content p {
  margin: 7px 2px;

  font-family: var(--font);
  font-style: normal;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;

  color: #041e42;
}
.spec_product-frame .big_product-content a {
  font-family: var(--font);
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;

  color: #041e42;
}
.spec_product-frame .big_product-box img {
  position: absolute;
  width: 322px;
  height: 309px;
  right: 5%;
}
.spec_product-frame .spec_product-wrapper .small_product-wrapper {
  margin-left: 30px;
  width: 620px;
  height: 368px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.spec_product-frame .small_product-wrapper .small_product-box {
  position: relative;
  padding: 30px;
  width: 293px;
  height: 170px;

  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  background: #f3f5f6;
  border-radius: 6px;
}
.spec_product-frame .small_product-box:nth-child(odd) {
  margin-right: 30px;
}
.spec_product-frame .small_product-box .small_product-content {
  display: flex;
  flex-direction: column;
}
.spec_product-frame .small_product-content strong {
  font-family: var(--font);
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;

  color: #041e42;
}
.spec_product-frame .small_product-content span {
  font-family: var(--font);
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;

  color: #626974;
}
.spec_product-frame .small_product-box img {
  position: absolute;
  right: 30px;
  bottom: 15px;
}
/* spec_product-frame */

/* tv frame */
.home-page .tv-frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.tv-frame .kantiner {
  flex-direction: column;
}
.tv-frame .kantiner .tv-wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tv-frame .tv-wrapper .tv-product-boxes {
  width: 1300px;
  height: 452px;

  display: flex;
  flex-direction: row;
}
.tv-frame .tv-product-boxes .tv-product-box {
  width: 260px;
  height: 452px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: #ffffff;
}
.tv-frame .tv-product-box .product-img {
  width: 100%;
  height: 280px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* tv frame */

/* event frame */
.home-page .event-frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: 632px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-image: url("../image/icons/event_bg.png");
  background-size: cover;
}
.event-frame .kantiner {
  flex-direction: row;
  justify-content: center;
}
.event-frame .kantiner .event-content-box {
  width: 340px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.event-frame .event-content-box .event-title {
  font-family: var(--font);
  font-style: normal;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-transform: capitalize;

  color: #ffffff;
}
.event-frame .event-content-box .timer-wrapper {
  margin: 30px 0;
  display: flex;
  flex-direction: row;
}
.event-frame .timer-wrapper .timer-box {
  width: 82px;
  height: auto;

  display: flex;
  flex-direction: column;
}
.event-frame .timer-box strong {
  font-family: var(--font);
  font-style: normal;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;

  color: #ffffff;
}
.event-frame .timer-box span {
  font-family: var(--font);
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;

  color: #ffffff;
}
.event-frame .event-content-box a {
  width: 140px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;

  background: #ffffff;

  border: 1px solid #ffffff;
  border-radius: 6px;
  font-family: var(--font);
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  color: #041e42;
}
.event-frame .kantiner .event-product-wrapper {
  width: 930px;
  height: auto;

  display: flex;
  flex-direction: row;
}
.event-frame .event-product-wrapper .event-product-boxes {
  position: relative;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.event-frame .event-product-boxes .event-product-box {
  margin-right: 8px;
  width: 205px;
  height: 392px;

  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: #ffffff;
}
.event-frame .event-product-box .event-product-img {
  width: 100%;
  height: 220px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* event frame */
